body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-container {
    width: 340px;
    margin: 160px auto;
}
#login-container label {
    margin: 15px 0 5px 5px;
}
#login-container button {
    width: 150px;
    padding: 6px 40px 6px 40px;
    float: left;
    margin-top: 15px;
}
#login-container .checkbox {
    margin: 23px 0 0 180px;
}
#login-container .btm-links {
    text-align: center;
    margin-top: 10px;
}
#login-container #create-account {
    float: right;
    margin-right: 13px;
}
#login-container #forgot-password {
    float: left;
    margin-left: 10px;
}
